<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        @import url('https://themes.googleusercontent.com/fonts/css?kit=tId4hC7h3QXnitVZUf8ul4ssHdQx5k1g1XcmPEeZqqYvothSo-82XNN5GC3c1mey');

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c8 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 140.1pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c28 {
            border-right-style: solid;
            padding: 0pt 5.8pt 0pt 5.8pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 3pt;
            width: 382.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c16 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 212.6pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c35 {
            border-right-style: solid;
            padding: 0pt 5.8pt 0pt 5.8pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 3pt;
            width: 67.4pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c10 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 21.3pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c13 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 170.1pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c18 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 404pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c37 {
            border-right-style: solid;
            padding: 0pt 5.8pt 0pt 5.8pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 3pt;
            width: 62.4pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c26 {
            -webkit-text-decoration-skip: none;
            color: #0563c1;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 9pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c14 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c29 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial Black";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c5 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c2 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c30 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Arial";
            font-style: normal
        }

        .c7 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center;
            height: 12pt
        }

        .c27 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c11 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Arial";
            font-style: normal
        }

        .c32 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c23 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c20 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c34 {
            padding-top: 0pt;
            padding-bottom: 10pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c15 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
            height: 12pt
        }

        .c21 {
            margin-left: 12.4pt;
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c22 {
            margin-left: -5.4pt;
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c31 {
            background-color: #ffffff;
            max-width: 547.6pt;
            padding: 21.2pt 28.4pt 28.4pt 36pt
        }

        .c36 {
            font-weight: 400;
            font-family: "Arial"
        }

        .c33 {
            font-weight: 700;
            font-family: "Arial"
        }

        .c25 {
            color: inherit;
            text-decoration: inherit
        }

        .c4 {
            height: 0pt
        }

        .c19 {
            height: 15.4pt
        }

        .c3 {
            height: 79.7pt
        }

        .c12 {
            margin-left: 326.1pt
        }

        .c17 {
            height: 12pt
        }

        .c24 {
            margin-left: 44.2pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c31" id="content" style="min-width: 730.125px; max-width: 730.125px;">
    <p class="c15"><span class="c2"></span></p><a id="t.b33282005930a5d89f83bf5f5111f2c0e96204e5"></a><a id="t.0"></a>
    <table class="c21">
        <tbody>
            <tr class="c3">
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c1" id="h.gjdgxs"><span class="c5"><br></span><span
                            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 75.00px; height: 89.47px;"><img
                                alt="Hasil gambar untuk logo provinsi sumsel" src="/public/image3.png"
                                style="width: 75.00px; height: 89.47px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                title=""></span></p>
                </td>
                <td class="c28" colspan="1" rowspan="1">
                    <p class="c9"><span class="c29">PEMERINTAH PROVINSI SUMATERA SELATAN</span></p>
                    <p class="c9"><span class="c14">DINAS KESEHATAN</span></p>
                    <p class="c9"><span class="c23">BADAN LAYANAN UMUM DAERAH</span></p>
                    <p class="c9"><span class="c11">RSUD SITI FATIMAH PROVINSI SUMATERA SELATAN</span></p>
                    <p class="c9"><span class="c27">Jalan Kol H. Burlian KM.6 Palembang 30151 Telp. (0711) 5718883
                            /5718889 Fax.(0711) 7421333</span></p>
                    <p class="c9"><span class="c27">E-mail: </span><span class="c26"><a class="c25"
                                href="mailto:rsudprovinsisumsel@gmail.com">rsudprovsumsel@gmail.com</a></span></p>
                </td>
                <td class="c35" colspan="1" rowspan="1">
                    <p class="c9"><span
                            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 104.73px; height: 92.33px;"><img
                                alt="vqekmqerqqq" src="/public/image1.jpg"
                                style="width: 306.87px; height: 226.80px; margin-left: -100.16px; margin-top: -52.65px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                title=""></span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c17 c34"><span class="c6"></span></p>
    <p class="c9"><span class="c11">FORMULIR</span></p>
    <p class="c9"><span class="c11">PENGAJUAN IZIN BELAJAR</span></p>
    <p class="c7"><span class="c11"></span></p><a id="t.34b5b2d24176f3bea4477bb910481b2a5849a5b6"></a><a id="t.1"></a>
    <table class="c22">
        <tbody>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="9">
                    <p class="c9"><span
                            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 152.28px; height: 172.23px;"><img
                                alt="" src="/user/photo/<%= employee_data.photo %> "
                                style="max-width: 152.28px; height: auto; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                title=""></span></p>
                </td>
                <td class="c18" colspan="3" rowspan="1">
                    <p class="c20"><span class="c14">INFORMASI PEGAWAI</span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Tanggal / Waktu Daftar</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"><%= time.dateWithDay(applications.app_date)  %></span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Status</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"><%= employee_data.profession_status %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Spesialisasi</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.specialization %>  </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">NIP</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.nip %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Nomor KTP</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.nik %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0" style="font-weight: 700;">Nama Lengkap</span></p>
                    <p class="c1" id="h.30j0zll"><span class="c0">(Beserta Gelar)</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.name %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Jenis Kelamin</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.gender %> </span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Tempat Lahir</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.place_of_birth %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c9"><span class="c30">No. <%= applications.app_id %> [Pengajuan]</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Tanggal Lahir</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= time.dateOnly(employee_data.date_of_birth) %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c9"><span class="c30">IBEL-</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Agama</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.religion %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Nomor Handphone</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.phone %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Email</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.email %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Pendidikan Terakhir</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.last_education %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Jabatan / Pekerjaan</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.department %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Pangkat / Golongan </span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= employee_data.ranks %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1 c17"><span class="c0"></span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1 c17"><span class="c0"></span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1 c17"><span class="c0"></span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c18" colspan="3" rowspan="1">
                    <p class="c20"><span class="c14">INFORMASI TEMPAT PENDIDIKAN YANG AKAN DIAMBIL</span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Nama Institusi Pendidikan</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= applications.institution_name %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Akreditasi</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= applications.acreditation %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Alamat</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0"> <%= applications.institution_address %> </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">No. Telp</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">
                        <%= applications.institution_phone_number %>
                    </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Jenjang Pendidikan</span></p>
                    <p class="c1 c24" style="margin-left: -5px;"><span class="c0">&nbsp;Lainnya</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">
                        <%= applications.education_level %>
                    </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Program Studi</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">
                        <%= applications.study_program %>
                    </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Jurusan</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">
                        <%= applications.major %> 
                    </span></p>
                </td>
            </tr>
            <tr class="c4">
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c7"><span class="c11"></span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">Tahun Ajaran</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">:</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">
                        <%= applications.year_of_study %> 
                    </span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c1 c17"><span class="c14"></span></p>
    <p class="c1"><span class="c33">*</span><span class="c2">Formulir ini harap dicetak dan diserahkan ke bagian
            kepegawaian bersama berkas usulan izin belajar lainnya.</span></p>
    <p class="c1 c17"><span class="c2"></span></p>
    <p class="c1 c17"><span class="c2"></span></p>
    <p class="c1 c17"><span class="c2"></span></p>
    <p class="c1 c17"><span class="c2"></span></p>
    <p class="c1 c17"><span class="c2"></span></p>
    <p class="c1 c12" style="text-align: center;"><span class="c0">Palembang, <%= time.dateOnly(applications.app_date) %> </span></p>
    <p class="c1 c12" style="text-align: center;"><span class="c0">yang mengajukan,</span></p>
    <p class="c1 c12 c17"><span class="c0"></span></p>
    <p class="c1 c12 c17"><span class="c0"></span></p>
    <p class="c1 c12 c17"><span class="c0"></span></p>
    <p class="c1 c12 c17"><span class="c0"></span></p>
    <p class="c1 c12 c17"><span class="c0"></span></p>
    <p class="c1 c12" style="text-align: center;"><span class="c0">
        <%= employee_data.name %> 
    </span></p>
    <p class="c1 c12" style="text-align: center;"><span class="c36">
        <%= employee_data.nip %>
    </span></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    window.onload =
      () => {
            const element = document.getElementById("content");
            html2pdf(element);
      };
    </script>
</body>

</html>